{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
                {% endfor %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4"> Musique, Les instruments</h1>
			<p class="lead">On vend des instruments de musique ou quoi ! </p>
			<hr class="my-4">
			<a class="btn btn-primary btn-lg" href="{{path('category_index')}}" role="button">Catalogue</a>
		</div>
	</div>
{% endblock %}

