<footer class="bg-light mt-md-5 container-fluid ">
	<div class="row   justify-content-center ">
	<div class="col-6 mt-4 col-md-2 mb-3">

	<h5> Achetez et payez en toute sécurité  </h5>
<div class="row">
	<div class='col-6'>
	<i class="fa-brands fa-3x  fa-paypal"></i>
	<i class="fa-brands fa-3x fa-amazon-pay"></i>
	<i class="fa-brands  fa-3x fa-cc-visa"></i>
	</div>
	<div class="col-6">
	<i class="fa-brands fa-3x fa-cc-mastercard"></i>
	<i class="fa-brands  fa-3x fa-cc-amex"></i>
	<i class="fa-brands  fa-3x fa-apple-pay"></i>
	</div>
	</div>
	</div>
		<div class="col-6 mt-4 col-md-2 mb-3">
			<h5 class='tex-primary'>
				 Vos Avantages
			</h5>
			<ul class="nav flex-column">
						<li class="nav-item mb-2 ">
					<a class='text-decoration-none text-muted' href="#"><i class="fa-solid fa-check "></i> Garantie 3 ans  </a>
						</li>
								<li class="nav-item mb-2">
					<a href="#" class='text-decoration-none text-muted'><i class="fa-solid fa-check"></i> Garentie 30 jours Satisfait ou remboursé</a>
						</li>
								<li class="nav-item mb-2">
					<a class='text-decoration-none text-muted' href="#"><i class="fa-solid fa-check"></i> Service de réparation</a>
						</li>
								<li class="nav-item mb-2">
					<a class='text-decoration-none text-muted' href="#"><i class="fa-solid fa-check"></i> Conseils de nos experts</a>
						</li>
						
				
			</ul>
		</div>

		<div class="col-6  mt-4 col-md-2 mb-3">
			<h5>
				Services
			</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="{{path('home')}}" class="nav-link p-0 text-muted">
					Frais de port  et délais de livraison
					</a>
				</li>

				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						centre de service
					</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						Bons d'achat
					</a>
				</li>

				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						Nous contacter
					</a>
				</li>

				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						Vente en magasin
					</a>
				</li>

				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						Aperçu de service
					</a>
				</li>
			</ul>
		</div>


		
</footer>

<footer class="py-5 bg-primary container-fluid ">
	<div class="row ">
		<div class="col-6 col-md-2  mb-3 justify-content-center">
			<h5 class='text-light'>
				Categories
			</h5>
			<ul class="nav flex-column">
				{% for category in list_categories %}

					{% if category.childs == null  %}


						<li class="nav-item mb-2">
							<a href="{{ path('category_subcategories',{'category': category.id })}}" class="nav-link p-0 text-muted">
								{{category.name}}
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<div class="col-6 col-md-2 mb-3 text-light">
			<h5>
				A propos
			</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="{{path('home')}}" class="nav-link p-0 text-muted">
						Accueil
					</a>
				</li>

				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						FAQs
					</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						A propos de nous
					</a>
				</li>

				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						Presse
					</a>
				</li>
			</ul>
		</div>

		<div class="col-6 col-md-2 mb-3">
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						Politique de confidentialité
					</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						Paramètres de confidentialité 
					</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						
					Droit de rétractation du consommateur 
					</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
						Processus de commande 
					</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">
					Garantie légale de conformité 
					</a>
				</li>
			</ul>
		</div>

		<div class="col-md-5 offset-md-1 mb-3">
			<i class="fa-brands fa-3x fa-facebook"></i>
			<i class="fa-brands fa-3x fa-instagram"></i>
			<i class="fa-brands fa-3x fa-twitter"></i>
			<i class="fa-brands fa-3x fa-youtube"></i>
			<p class='mt-4'>
			&copy; 2022 Company, Inc. All rights reserved.
		</p>
		</div>
		
	</div>

</footer>
