{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}

	<!--- Breadcrumbs-->
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb bg-light text-primary">
			<li class="breadcrumb-item">
				<a href='{{ path('home') }}'>Accueil</a>
			</li>
			<li class="breadcrumb-item">Categories</li>
		</ol>
	</nav>
{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
                {% endfor %}

	<!--- Cards -->
	<div class='container '>
		<div class=' row mt-4 align-items-center justify-content-center'>
			{% for category in categories %}

				{% if category.childs == null  %}
					<div class="card  bg-light  mb-3 me-4" style="max-width: 20rem;">
						<a href="{{ path('category_subcategories',{'category': category.id })}}">
							<div class="card-body">
								<h4 class="card-title">{{ category.name }}</h4>
								<p class="card-text"></p>

							</div>
						</a>
					</div>

				{% endif %}

			{% endfor %}
		</div>
	</div>
{% endblock %}
